#background-one {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/people.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#background-two {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/visitors.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#background-three {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../images/wall.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.expand {
  max-width: 100%;
  padding: 0px;
}
.bg-light {
    background-color: #6aa2fc!important;
}
#footer {
  background-color: #b5fcd4;
  padding: 0px 40px;
}
.percent {
  width: 50%;
}
img {
  max-height: 800px;
}
.carouselSize {
padding: 0px 40px;
background-color: grey;
}
.conContainer{
  margin-top: 70px;
}
.bottonPosition{
  margin-bottom: 10px;
}
